<div class="max-w-md">
  <div class="text-5xl font-bold my-4">
    {{ section.settings.title }}
  </div>
  <div class="my-4 md:text-xl leadning-normal">
    {{ section.settings.subtext }}
  </div>
  <div class="my-8">
    {% if section.settings.button_link == blank %}
        {% assign shop_url = shop.secure_url %}
    {% else %}
        {% assign shop_url = section.settings.button_link %}
    {% endif %}
        
    <a href="{{ shop_url }}" class="bg-black text-white p-4 rounded my-4 d-block">{{ section.settings.button_text }}</a>
  </div>
</div>

{% schema %}
  {
    "name": "Template 404",
    "tag": "section",
    "class": "flex items-center justify-center text-center py-20 flex-col h-screen",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Page Not Found"
      }, {
        "type": "richtext",
        "id": "subtext",
        "label": "Subtext",
        "default": "<p>The page you are looking for doesn't exist or has been moved.</p>"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Back Home"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link",
        "default": "/"
      }
    ]
  }
{% endschema %}